<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Update User</title>

    <!-- BootStrap CSS file -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- custom CSS file  -->
    <style>
        body {
            background: #f5683d;

        }

        form {
            background: white;
        }

        .section-padding {
            padding-top: 2vh !important;
        }

        .book-padding {
            padding-top: 0.45vh !important;
        }

        section {
            padding-top: 4vh;
        }

        .form-container {
            border-radius: 10px;
            padding: 30px;
            box-shadow: 0px 0px 10px 0px;
        }

        .bg-img {
            width: 80px;
            height: 80px;
            position: relative;
            top: 30px;
            left: 38%;
        }

        .bg-orange {
            background: #f5683d;
        }
    </style>
</head>

<body class="bg-light">
    <!-- BootStrap JS Files  -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>


    <!-- NavBar -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-orange">
        <a class="navbar-brand" href="#">BookStore</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Books</a>
                </li>
                <form class="form-inline my-2 my-lg-0 bg-orange">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
                </form>
            </ul>
            <span class="navbar-text">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Logout</a>
                    </li>
                </ul>
            </span>
        </div>
    </nav>
    
    <!-- input to find  -->
    <section class="container-fluid section-padding">
        <section class="row justify-content-center section-padding">
            <section class="col-16 col-sm-16 col-md-6 section-padding">
                <h4 class="text-center font-weight-bold">Update User Details</h4>
                <form class="form-container" th:action="@{/views-ws/admin/findUser3}" th:object="${user}" method="POST">
                    <!-- Username -->
                    <div class="form-group">
                        <input type="text" class="form-control" id="username" th:field="*{username}" aria-describedby="usernameHelp"
                            placeholder="Enter Username">
                    </div>
                    <button type="submit" class="btn bg-orange btn-block">Find</button>
                </form>
            </section>
        </section>
    </section>

    <!-- form  -->
    <section class="container-fluid section-padding section-padding">
        <section class="row justify-content-center section-padding">
            <section class="col-16 col-sm-16 col-md-6 section-padding">
                <form class="form-container" th:action="@{/views-ws/admin/updatingUser}" th:object="${user}" method="POST"> 
                    <!-- Username -->
                    <div class="form-group ">
                        <input type="text" class="form-control" id="username" th:field="*{username}" th:value="${user.username}" aria-describedby="usernameHelp"
                            placeholder="Enter Username">
                    </div>
                    <!-- Password -->
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" th:field="*{password}" th:value="${user.password}" placeholder="Enter Password">
                    </div>
                    <!-- Confirm Password -->
                    <div class="form-group">
                        <input type="password" class="form-control" id="confirmPassword" th:field="*{confirmPassword}" th:value="${user.confirmPassword}" placeholder="Confirm Password">
                    </div>
                    <!-- Name -->
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" th:field="*{name}" th:value="${user.name}" aria-describedby="nameHelp"
                            placeholder="Enter Name">
                    </div>
                    <!-- Email -->
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" th:field="*{email}" th:value="${user.email}" aria-describedby="namedate"
                            placeholder="Enter Email">
                    </div>
                    <!-- address  -->
                    <div class="form-group">
                        <input type="text" class="form-control" id="address" th:field="*{address}" th:value="${user.address}" aria-describedby="nameHelp"
                            placeholder="Enter address">
                    </div>
                    <!-- phone  -->
                    <div class="form-group">
                        <input type="text" class="form-control" id="phone" th:field="*{phone}" th:value="${user.phone}" aria-describedby="nameHelp"
                            placeholder="Enter phone Number">
                    </div>
                    <button type="submit" class="btn bg-orange btn-block">Submit</button>
                </form>
            </section>
        </section>
    </section>
    </div>
</body>

</html>